div.card {
    background-color: transparent;
    border-color: white;
    color: white;

    .form-control{
        border-color:khaki;
        background-color: transparent;
        color:white;
        &::placeholder {
            color:darkgray;
        }
    }
    select {
        option {
            background-color: #17a2b8;
        }
    }
}