
div.card {
    background-color: transparent;
    border-color: white;
    color: white;

    .form-control{
        border-color:khaki;
        background-color: transparent;
        color:white;
        &::placeholder {
            color:darkgray;
        }
    }
    .card-footer {
        border-color: white;
    }
    .badge
    {
        border: 2px solid white;
    }
    figure{
        img {
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
    .btn-group-toggle {
        label {
            & ~ app-share-recipe {
                display: none;
            }
            &.active ~ app-share-recipe{
                display: block;
            }    
        }
    }
}