<div class="col-md-4" *ngFor="let recipe of recipes; let i = index;">
  <div class="card text-center mb-3">
      <div class="card-header text-white bg-dark d-flex justify-content-between align-items-center">          
        <h4>{{recipe.name}}</h4>
        <div class="btn-group-toggle ml-auto" data-toggle="buttons" >
          <label class="btn btn-secondary">
            <input type="checkbox"><i class="bi bi-share"></i>
          </label>
          <app-share-recipe [recipeId]="recipe._id"></app-share-recipe>
        </div>
        <button class="btn btn-outline-warning mx-2 cEditBtn" routerLink="/recipes/edit/{{recipe._id}}">
          <i class="bi bi-pencil"></i>
        </button>
      </div>
      <figure>
        <img class="card-img-top img-thumbnail" [src]="(recipe.image ? recipe.image.data.data : undefined) | imageToUrl">
      </figure>
      <div class="card-body">  
        <a routerLink="/recipes/view/{{recipe._id}}" class="btn btn-outline-success btn-block"><i class="bi bi-eye"></i><span class="mx-2">Ver receta</span></a>
      </div>
      <div class="card-footer">
        <h5><div class="badge badge-pill badge-primary">{{recipe.category}}</div></h5>
        <h5 [ngSwitch]="recipe.difficulty">
          <div *ngSwitchCase="0" class="badge badge-pill badge-info">muy fácil</div>
          <div *ngSwitchCase="1" class="badge badge-pill badge-success">fácil</div>
          <div *ngSwitchCase="2" class="badge badge-pill badge-warning text-dark">media</div>
          <div *ngSwitchCase="3" class="badge badge-pill badge-danger">difícil</div>
          <div *ngSwitchCase="4" class="badge badge-pill badge-dark">muy difícil</div>
          <div *ngSwitchDefault>--</div>
        </h5>
      </div>
  </div>
</div>
