<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/recipes">
      <i class="bi bi-house"></i>
      <span class="mx-2">Mi libro de cocina</span></a
    >
    <div class="mr-auto">
      <button
        class="btn btn-outline-secondary text-light"
        (click)="openModalNewRecipe()"
      >
        <i class="bi bi-journal-plus"></i>
        <span class="mx-2">Nueva receta</span>
      </button>
    </div>
    <form>
      <div class="form-inline">
        <div class="input-group">
          <input
            id="searchTerm"
            #searchTerm
            name="searchTerm"
            (enter)="recipeSearch(searchTerm.value)"
            class="form-control"
            type="text"
            placeholder="Que te apetece?"
          />
          <div class="input-group-append">
            <button
              (click)="recipeSearch(searchTerm.value)"
              class="btn btn-outline-light text-info"
              type="submit"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </form>
    <button
      class="btn btn-outline-secondary text-light ml-3"
      (click)="openModalUser()"
    >
      <i class="bi bi-person"></i>
    </button>
  </nav>
</header>
