<div class="container-fluid" *ngIf="recipe">
  <div class="row">
      <div class="col text-white"><h1 class="display-3">{{recipe.name}}</h1></div>
      <div class="col-md-auto float-right">
        <a routerLink="/recipes/edit/{{recipe._id}}" class="btn btn-outline-danger btn-block"><i class="bi bi-pencil"></i><span class="mx-2">Editar receta</span></a>
        <a routerLink="/recipes" class="btn btn-outline-light btn-block"><i class="bi bi-house"></i><span class="mx-2">Volver al listado</span></a>
      </div>        
  </div>
  <img [src]="(recipe.image ? recipe.image.data.data : undefined) | imageToUrl" class="img-thumbnail" height="200px">
  <div class="row my-3">
    <h5 class="col-auto" [ngSwitch]="recipe.difficulty">
      <div *ngSwitchCase="0" class="badge badge-pill badge-info">muy fácil</div>
      <div *ngSwitchCase="1" class="badge badge-pill badge-success">fácil</div>
      <div *ngSwitchCase="2" class="badge badge-pill badge-warning text-dark">media</div>
      <div *ngSwitchCase="3" class="badge badge-pill badge-danger">difícil</div>
      <div *ngSwitchCase="4" class="badge badge-pill badge-dark">muy difícil</div>
      <div *ngSwitchDefault>--</div>
    </h5>
    <h5 class="col-auto"><span class="badge badge-pill badge-primary">{{recipe.category}}</span></h5>
  </div>
  <div class="row">
      <div class="col-md-4" *ngIf="ingredientsList">
        <app-playback-buttons [record]=ingredientsList></app-playback-buttons>
        <div class="alert alert-dismissible alert-info">
          <ul *ngFor="let ingr of recipe.ingredients">
            <li><span>{{ingr.name}}</span><span class="badge">{{ingr.quantity}}</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8" *ngIf="stepsList">
        <app-playback-buttons [record]=stepsList></app-playback-buttons>
        <div *ngFor="let step of recipe.steps; let i = index">
          <p class="alert alert-dismissible alert-warning"><span class="h1 mr-2"><em>{{i+1}}.</em></span>{{step.description}}</p>
        </div>
      </div>
  </div>
</div>
